header {
    background-color: #FD739C;
    color: white;
}

h1 {
    font-family: Arial, Helvetica;
}

h2 {
    font-family: Arial, Helvetica;
}

p {
    line-height: 34px;
    font-size: 22px;
}